*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.grid-box{
    height: 50px;
    width: 25px;
    border: 1px solid white;
    display: flex;
}
.grid-four{
    height: 50%;
    width: 50%;
    background-color: red;
}