*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.main{
    height: auto;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 225px;
    gap:15px;
}
.item{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}
.item:nth-child(1){
    grid-column: 1/-2;
    background-color: red;
    grid-row-start: 1;
    grid-row-end: -3;
}