*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: minmax(500px); */
    gap: 15px;
    grid-template-areas:
            "one two three"
            "one four five";
    padding: 2rem;
}
.main2{
    height: 100vh;
    width: 100%;
    background-color: black;
    border: 1px solid white;
}
.item{
    background-color: antiquewhite;
}
.item:nth-child(1){
    grid-area: one;
}
.item:nth-child(2){
    grid-area: two;
}
.item:nth-child(3){
    grid-area: three; 
}
.item:nth-child(4){
    grid-area: four;
}
.item:nth-child(5){
    grid-area: five;
}

@media (max-width: 800px){
    .main{
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-auto-rows: minmax(450px, 1fr);
        grid-template-areas: none;
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(5){
        grid-area: auto;
    }
}

